/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  line-height: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

blockquote {
  line-height: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: "Karla", sans-serif;
  margin-top: 1.2rem;
  margin-bottom: 0;
  line-height: 1.2rem;
}

h1 {
  font-size: 4.242rem;
  line-height: 3.6rem;
  margin-top: 2.4rem;
}

h2 {
  font-size: 2.828rem;
  line-height: 2.4rem;
  margin-top: 2.4rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.2rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td, table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

/* Hug a the block above you */
.hug {
  margin-top: 0;
}

body {
  font-family: "Karla", sans-serif;
  color: #242424;
}

a {
  text-decoration: none;
  color: inherit;
}

.black {
  color: #242424;
}

input {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  font-family: "Karla", sans-serif;
  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: auto;
}
input:focus {
  border: solid 1px #EEA34A;
}

button {
  border: none;
  padding: 15px 30px;
  margin: 0 0 20px;
  font-family: "Karla", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

label, input {
  display: block;
  padding-bottom: 8px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.auth-form .auth-form--title {
  margin-bottom: 30px;
}

.message-card {
  background-color: #ededed;
  margin-top: 8px;
  padding: 15px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.message-card h4 {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-navbar {
  display: flex;
  top: 0;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}
.top-navbar .logo {
  padding: 25px 30px 0;
}

.top-bar--nav {
  display: flex;
  padding: 0 40px;
}
.top-bar--nav li {
  margin-left: 20px;
}

.main-section {
  width: 100%;
  margin-top: 80px;
}
.main-section .sidebar {
  width: 15%;
  float: left;
  position: fixed;
  background-color: #faf9fb;
  height: 100vh;
}
.main-section .sidebar .sidebar-title {
  margin-bottom: 10px;
}
.main-section .sidebar .sidebar-user {
  padding: 20px 30px;
}
.main-section .sidebar .sidebar-menu {
  display: block;
  padding: 20px 20px;
  color: #242424;
}
.main-section .sidebar .sidebar-menu li {
  margin: 30px 0;
}
.main-section .inner-section {
  width: 80%;
  margin-left: 18%;
  float: left;
}

.riskForm .form-group {
  display: flex;
  flex-direction: row;
}
.riskForm .form-group input {
  margin: 0 10px 7px 0;
}
.riskForm .form-group label {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 80px;
  max-height: 100%;
}
.row .row-column {
  height: 50px;
  width: 100%;
  margin-left: 10px;
}
.row :first-child {
  margin-left: 0;
}

.summary-card {
  width: 100%;
  border: 1px solid #efefef;
  padding: 2px;
}
.summary-card h3 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
