<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div>
                <li><a href="#"><span style="font-weight: bold">Fines</span></a></li>
                <li><a href="#"></a></li>
                <li><a href="">-------</a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/contribution">contribution</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolio">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> John Doe</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar"> 
        </div>
        
        <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a message <span><i class="fas fa-plus"></i></span></h4>
                </div>

                <div class="row">
                        <div class="group-form">
                                <form id="fineMember" ng-submit="fineMember">
                                    <div class="form-group">
                                        <label for="Date of Fine"></label>
                                        <input type="text" ng-model="fineDate" name="fineDate" placeholder="Date of Fine">
                                    </div>
                                    <div class="form-group">
                                        <label for="Fine Category"></label>
                                        <input type="text" value="" ng-model="fineCategory" name="fineCategory" placeholder="e.g. Late Contribution..">
                                    </div>
                                    <div class="form-group">
                                            <label for="Fine Amount"></label>
                                            <input type="text" ng-model="fineAmount" name="fineAmount" placeholder="Fined Amount">
                                        </div>
                                    <div class="form-group">
                                                <label for="Comment"></label>
                                                <input type="text" ng-model="comment" name="comment" placeholder="comment">
                                            </div>
                                    <div class="form-group">
                                        <button type="submit">Create Chama</button>
                                    </div>
                                    
                                </form>
                        </div>
                    </div>
                </div>
                <!-- polls -->
            </div>
        </div>
</div>