<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div class="sidebar-title">
                <li><a href="#"><span style="font-weight: bold"></span></a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/contribution">Contribution</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolioview">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> {{user.firstName}}</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar"> 
        </div>
        
        <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a message <span><i class="fas fa-plus"></i></span></h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Fine a member</h3>
                            </div>
                            <div class="panel-body">
                                <form id="fineMember" ng-submit="fineMember()">
                                    <div class="form-group">
                                        <label for="Date of Fine"></label>
                                        <input type="text" required ng-model="fineDate" class="form-control" name="fineDate" placeholder="Date of Fine">
                                    </div>
                                    <div class="form-group">
                                        <label for="Fine Category"></label>
                                        <input type="text"  required value="" ng-model="fineCategory" class="form-control" name="fineCategory" placeholder="e.g. Late Contribution..">
                                    </div>
                                    <div class="form-group">
                                            <label for="Fine Amount"></label>
                                            <input type="text" required  ng-model="fineAmount" required pattern="^[0-9]+(\.[0-9]{1,2})?$" class="form-control" name="fineAmount" placeholder="Fined Amount">
                                        </div>
                                    <div class="form-group">
                                                <label for="Comment"></label>
                                                <input type="text" required  ng-model="comment" class="form-control" name="comment" placeholder="comment">
                                            </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Fine Member</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Fines Incurred</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="fine in fines">
                                            <td>{{fine.fineCategory}}</td>
                                            <td>{{fine.fineAmount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>