<div class="main-content">
    <div class="auth-form">
            <h3>The Top 10 Good Financial Goals </h3>
            <h4>Goal Setting - Choose in order of preference</h4>

            <form ng-submit="submitGoalForm()" class="goalForm">
                    <table>
                            <tr>
                              <th>  Goal  </th>
                              <th colspan="5">Ranking 1-5 (lowest to Highest Priority)</th>
                              </tr> 

                            <tr>
                                <td id="emergencyFund">1. Build an Emergency Fund</td>
                                <td><input type="radio" id="option--one" ng-model="answer1" name="answer1" id="" value="1">
                                    <label for="option--one">1 </label></td>
                                <td><input type="radio" id="option--two" ng-model="answer1" name="answer1" id="" value="2">
                                    <label for="option--two">2 </label></td>
                                <td><input type="radio" id="option--three" ng-model="answer1" name="answer1" id="" value="3">
                                    <label for="option--three">3 </label></td>
                                <td><input type="radio" id="option--four" ng-model="answer1" name="answer1" id="" value="4">
                                    <label for="option--four">4 </label></td>
                                <td><input type="radio" id="option--five" ng-model="answer1" name="answer1" id="" value="5">
                                    <label for="option--five">5 </label></td>
                                               
                            </tr>
                            <tr>
                                <td>2. Get Out of Debt</td>
                                <td><input type="radio" id="option--one" ng-model="answer2" name="answer2" id="" value="1">
                                    <label for="option--one">1 </label></td>
                                <td><input type="radio" id="option--two" ng-model="answer2" name="answer2" id="" value="2">
                                    <label for="option--two">2 </label></td>
                                <td><input type="radio" id="option--three" ng-model="answer2" name="answer2" id="" value="3">
                                    <label for="option--three">3 </label></td>
                                <td><input type="radio" id="option--four" ng-model="answer2" name="answer2" id="" value="4">
                                    <label for="option--four">4 </label></td>
                                <td><input type="radio" id="option--five" ng-model="answer2" name="answer2" id="" value="5">
                                    <label for="option--five">5 </label></td>
                            </tr>
                            <tr>
                                <td>3. Insurance for Contigencies (health,life,injury..)</td>
                                <td><input type="radio" id="option--one" ng-model="answer3" name="answer3" id="" value="1">
                                    <label for="option--one">1 </label></td>
                                <td><input type="radio" id="option--two" ng-model="answer3" name="answer3" id="" value="2">
                                    <label for="option--two">2 </label></td>
                                <td><input type="radio" id="option--three" ng-model="answer3" name="answer3" id="" value="3">
                                    <label for="option--three">3 </label></td>
                                <td><input type="radio" id="option--four" ng-model="answer3" name="answer3" id="" value="4">
                                    <label for="option--four">4 </label></td>
                                <td><input type="radio" id="option--five" ng-model="answer3" name="answer3" id="" value="5">
                                    <label for="option--five">5 </label></td>
                            </tr>
                            <tr>
                                    <td>4. Invest and grow Income</td>
                                    <td><input type="radio" id="option--one" ng-model="answer4" name="answer4" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer4" name="answer4" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer4" name="answer4" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer4" name="answer4" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer4" name="answer4" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr>
                            <tr>
                                    <td>5. Increase Savings</td>
                                    <td><input type="radio" id="option--one" ng-model="answer5" name="answer5" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer5" name="answer5" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer5" name="answer5" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer5" name="answer5" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer5" name="answer5" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr> 
                            <tr>
                                    <td>6. Education Savings/Fund</td>
                                    <td><input type="radio" id="option--one" ng-model="answer6" name="answer6" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer6" name="answer6" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer6" name="answer6" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer6" name="answer6" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer6" name="answer6" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr>
                            <tr>
                                    <td>7. Start a Business/ Change Careers</td>
                                    <td><input type="radio" id="option--one" ng-model="answer7" name="answer7" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer7" name="answer7" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer7" name="answer7" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer7" name="answer7" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer7" name="answer7" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr> 
                            <tr>
                                    <td>8. Plan for Retirement</td>
                                    <td><input type="radio" id="option--one" ng-model="answer8" name="answer8" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer8" name="answer8" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer8" name="answer8" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer8" name="answer8" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer8" name="answer8" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr> 
                            <tr>
                                    <td>9. Invest in Real Estate(Home,apartment,land..)</td>
                                    <td><input type="radio" id="option--one" ng-model="answer9" name="answer9" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer9" name="answer9" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer9" name="answer9" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer9" name="answer9" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer9" name="answer9" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr> 
                            <tr>
                                    <td>10. Save for Hobbies or Vacation</td>
                                    <td><input type="radio" id="option--one" ng-model="answer10" name="answer10" id="" value="1">
                                        <label for="option--one">1 </label></td>
                                    <td><input type="radio" id="option--two" ng-model="answer10" name="answer10" id="" value="2">
                                        <label for="option--two">2 </label></td>
                                    <td><input type="radio" id="option--three" ng-model="answer10" name="answer10" id="" value="3">
                                        <label for="option--three">3 </label></td>
                                    <td><input type="radio" id="option--four" ng-model="answer10" name="answer10" id="" value="4">
                                        <label for="option--four">4 </label></td>
                                    <td><input type="radio" id="option--five" ng-model="answer10" name="answer10" id="" value="5">
                                        <label for="option--five">5 </label></td>
                            </tr>                                                                                                                                                                        
                              </table>
            
                <button type="submit">Submit</button>
            
            </form>
    </div>
</div>