<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            
            <!-- display if user is in a group  -->
            <li><a href="#/contribution">Contribution</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolioview">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> {{user.firstName}}</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar">
            
        </div>
        
        
        <div class="main-content">
            <br>
            <div class="data-section">
                <!-- notification -->
                <div id="message">
                    
                </div>
                <button class="btn btn-default pull-right" ng-click="showBoxOne = !showBoxOne">Add Chama</button>
                <div class="box-one" ng-show="showBoxOne">
                    <!-- chamaa create -->
                    <div class="row">
                        <div class="col-md-12">
                            <form id="createChama" ng-submit="createChama" class="form-inline">
                                <div class="form-group">
                                    <label for="name" class="sr-only"></label>
                                    <input type="text" class="form-control" value="" ng-model="name" name="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="name" class="sr-only"></label>
                                    <input type="text" class="form-control" value="" ng-model="country" name="country" placeholder="Country">
                                </div>
                                <button type="submit" class="btn btn-default">Create Chama</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="authenticatedUser.ChamaId != null && authenticatedUser.userStatus == 1">
                    <div class="col-sm-6 col-md-4">
                            <div class="box-part text-center thumbnail">
                                <br>
                                <i class="glyphicon glyphicon-grain" aria-hidden="true" style="font-size: 30px"></i>
                                
                                <div class="title">
                                    <h1>Risk apetite</h1>
                                </div>
                                
                                <div class="text">
                                    <p>Your risk Apetite is <span class="badge">{{riskName}}</span></p>
                                </div>
                            
                            </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="box-part text-center thumbnail">
                                <br>
                                <i class="glyphicon glyphicon-tower" aria-hidden="true" style="font-size: 30px"></i>
                                
                                <div class="title">
                                    <h1>Total Assets</h1>
                                </div>
                                
                                <div class="text">
                                    <p>KES{{assetTotal}}</p>
                                </div>
                            
                            </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="box-part text-center thumbnail">
                                <br>
                                <i class="glyphicon glyphicon-piggy-bank" aria-hidden="true"style="font-size: 30px"></i>
                                
                                <div class="title">
                                    <h1>Total Contributions</h1>
                                </div>
                                
                                <div class="text">
                                    <p>KES{{totals}}</p>
                                </div>
                            
                            </div>

                </div> 
                    <div class="col-sm-6 col-md-4">
                        <div class="box-part text-center thumbnail">
                            <br>
                            <i class="glyphicon glyphicon-bitcoin" aria-hidden="true" style="font-size: 30px"></i>
                            
                            <div class="title">
                                <h1>Net Worth</h1>
                            </div>
                            
                            <div class="text">
                                <p>{{(totals-withdrawTotal)+(assetTotal-liabilityTotal)}}</p>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>