<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div>
                <li><a href="#"><span style="font-weight: bold">Members</span></a></li>
                <li><a href="#"></a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/deposits">Deposits</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolio">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>
        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> John Doe</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar">
            
        </div>
        
        <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a summary of your standing in chamaa <span><i class="fa fa-times"></i></span></h4>
                </div>
                
                <div class="row">
                    <div class="row-column">
                        <div class="summary-card">
                            <h4>Total member contributions</h4>
                            <div>
                                <p>Your risk Rating is <span style="color:crimson">High</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row-column">
                        <div class="summary-card">
                            <h4>Total Member</h4>
                            <div>
                                <p>Your Chama has <span style="color: chartreuse">8</span> members</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="invites">
                    <h3>Send invites</h3><br>
                    <div class="invite-form">
                        <form id="inviteForm" name="inviteForm" ng-submit="sendInvite()">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" placeholder="email@email.com" ng-model="inviteEmail">
                            </div>
                            <div class="form-group">
                                <button type="submit">Send Invites</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- polls -->
            </div>
        </div>
    </div>
</div>