<div class="main-section">           
        <div class="sidebar">
            <ul class="sidebar-menu">
                <div class="sidebar-title">
                    <li><a href="#"><span style="font-weight: bold">New Poll</span></a></li>
                    <li><a href="#"></a></li>
                </div>
                <!-- display if user is in a group  -->
                <li><a href="#/deposits">Deposits</a></li>
                <li><a href="#/withdrawals">Withdrawals</a></li>
                <li><a href="#/loans">Loans</a></li>
                <li><a href="#/members">Members</a></li>
                <li><a href="#/fines">Fines</a></li>
                <li><a href="#/votes">Votes</a></li>
                <li><a href="#/portfolio">Portfolio</a></li>
                <li><a href="#/reports">Reports</a></li>
            </ul>
    
            <div class="sidebar-user">
                <p><i class="far fa-user-circle"></i> John Doe</p>
            </div>
        </div>
        <div class="inner-section">
            <div class="top-bar">
                
            </div>
            
            <div class="main-content">
                <div class="data-section">
        <form role="form" ng-submit="createPoll()">
        <div class="form-group">
        <label for="pollQuestion">Question</label>
        <input type="text" ng-model="poll.question" class="form-control"
       id="pollQuestion" placeholder="Enter poll question">
        </div>
        <div class="form-group">
        <label>Choices</label>
        <div ng-repeat="choice in poll.choices">
        <input type="text" ng-model="choice.text" class="form-control"
       placeholder="Enter choice {{$index+1}} "><br>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12">
        <button type="button" class="btn btn-default" ng-click=
       "addChoice()"><span class="glyphicon glyphicon-plus">
       </span> Add another</button>
        </div>
        </div>
        <p><hr></p>
        <div class="row">
        <div class="col-xs-6">
        <a href="#/polls" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to Poll List</a>
            </div>
            <div class="col-xs-6">
            <button class="btn btn-primary pull-right" type="submit">
            Create Poll &raquo;</button>
            </div>
            </div>
            </form>
            </div>
            </div>
