<div class="main-section">           
        <div class="sidebar">
            <ul class="sidebar-menu">
                <div class="sidebar-title">
                    <li><a href="#"><span style="font-weight: bold">Home</span></a></li>
                    <li><a href="#"></a></li>
                </div>
                <!-- display if user is in a group  -->
                <li><a href="#/contribution">contribution</a></li>
                <li><a href="#/withdrawals">Withdrawals</a></li>
                <li><a href="#/loans">Loans</a></li>
                <li><a href="#/members">Members</a></li>
                <li><a href="#/fines">Fines</a></li>
                <li><a href="#/votes">Votes</a></li>
                <li><a href="#/portfolioview">Portfolio</a></li>
                <li><a href="#/reports">Reports</a></li>
            </ul>
    
            <div class="sidebar-user">
                <p><i class="far fa-user-circle"></i> John Doe</p>
            </div>
        </div>
        <div class="inner-section">
            <div class="top-bar">
                
            </div>
            
            <div class="main-content">
                <div class="data-section">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-lg">
                                    <strong>Question</strong><br><h2>{{poll.question}}</h2>
                            </div>
                            <div>
                                <p class="lead">Please select one of the following options.</p>
                                <form role="form" ng-submit="vote()">
                                    <div ng-repeat="choice in poll.choices" class="radio">
                                        <label>
                                            <input type="radio" name="choice" ng-model="poll.answer" value="{{choice.id}}">
                                            {{choice.text}}
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Vote</button>
                                    <a href="#/votes" class="btn btn-default" role="button">
                                        <span class="glyphicon glyphicon-arrow-left"></span> Back to Poll
                                    </a>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Vote results</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Choice</th>
                                                <th>Votes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="choice in poll.choices">
                                                <td>{{choice.text}}</td>
                                                <td style="width: {{choice.votes.length/poll.totalVotes*100}}%;">
                                                    {{choice.votes.length}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
<!--                         
                        <p>
                            <em>{{poll.totalVotes}} votes counted so far. 
                                <span ng-show="poll.userChoice">You voted for 
                                <strong>{{poll.userChoice.text}}</strong>.
                                </span>
                            </em>
                        </p>
                        <p><hr></p>
                        <p><a href="#/polls" class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a></p> -->
                    </div>
    </div>
    </div>