<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div>
                <li><a href="#"><span style="font-weight: bold">Portfolio</span></a></li>
                <li><a href="#"></a></li>
                <li><a href="">-------</a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/deposits">Deposits</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolio">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> John Doe</p>
        </div>
    </div>
    <div class="inner-section">
            <div class="top-bar">
                
            </div>
            
            <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a message <span><i class="fas fa-plus"></i></span></h4>
                </div>
                <div class="auth-form">
                    <div class="auth-form--title">
                        <h3>Add your new item to the chama Portfolio</h3>
                        <h3>----------------------</h3>
                        <div class="auth-form--body">
                            <form id="portfolioForm" ng-submit="portfolioForm()">
                                <div class="form-group">
                                <label for="name">Asset/Liability Name:</label>
                                    <input ng-model="assetName" type="text" class="form-control" id="name" placeholder="Item Name"/>
                                </div>
                                <div class="form-group">
                                    <label for="category">Item Category:</label>
                                    <input ng-model="assetCategory" type="text" class="form-control" id="category" placeholder="Land,vehicle,property,business"/>
                                </div>
                                <div class="form-group">
                                    <label for="assetFlag">Is this an Asset?:</label>
                                    <input ng-model="assetFlag" type="radio" class="form-control" id="assetFlag" name="Yes" value="1"/> yes 
                                    <input ng-model="assetFlag" type="radio" class="form-control" id="assetFlag" name="No" value="2"/> No 
                                </div>
                                <div class="form-group">
                                    <label for="description">Item description:</label>
                                    <input ng-model="assetDescription" type="text" class="form-control" id="description" placeholder="Details of the item"/>
                                </div>
                                <div class="form-group">
                                    <label for="amount">Cost of Item:</label>
                                    <input ng-model="assetAmount" type="text" class="form-control" id="amount" placeholder="Amount"/>
                                </div>
                                <div class="form-group">
                                    <label for="dateRecorded">Date Purchased:</label>
                                    <input ng-model="dateRecorded" type="text" class="form-control" id="dateRecorded" placeholder="dd/mm/yyyy"/>
                                </div>
                                <div class="form-group">
                                    <label for="refDetails">Payment/item Reference Number:</label>
                                    <input ng-model="refDetails" type="text" class="form-control" id="refDetails" placeholder="Reference"/>
                                </div>
                                <div class="form-group">
                                    <label for="comment">comment </label>
                                    <input ng-model="comment" type="text" class="form-control" id="comment" placeholder="Comments"/>
                                </div>                
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>