<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div class="sidebar-title">
                <li><a href="#"><span style="font-weight: bold"></span></a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/contribution">Contribution</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolioview">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> {{user.firstName}}</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar">
        </div>
        <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a message <span><i class="fas fa-plus"></i></span></h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Financial Reports for chama</h3>
                            </div>
                            <div class="panel-body">
                                Panel content <br>
                                1. Total Chamaa Contributions {{totals}}<br>
                                2. All Users - status<br>
                                3. Goal Report - 3 goals/ amounts/time to achieve/ current amount collected<br>
                                4. Total Expenses/ withdrawals<br>
                                5. Total Assets<br>
                                6. Total Liabilities<br>
                                7. Banner at top of reports - Net worth = ((Total contributions - total withdrawals) + (total assets cost - total Liabilities)<br>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Summary Member reports</h3>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>