<h4>Risk apetite yo</h4>

<form name="riskForm" ng-submit="submitRiskForm()">
    
<p>1. What is your current age bracket?</p>



a. 18 - 30 years <input type="radio" name="answer1" ng-model="answer1" id="" value="4">
b. 31 - 45 years <input type="radio" name="answer1" ng-model="answer1" id="" value="4">
c. Over 45 years<input type="radio" name="answer1" ng-model="answer1" id="" value="4">
<p>2. How long do you want to invest?</p>
a. Above 3 years <input type="radio" name="answer2" id="" value="3">
b. 1-3 years <input type="radio" name="answer2" id="" value="3">
c. 0 -1 years <input type="radio" name="answer2" id="" value="3">
<p>3. Have you ever invested in any of the investments below? (Please tick where applicable)</p>
Fixed Deposits <input type="radio" name="answer3" id="">
Land/House Shares <input type="radio" name="answer3" id="">
T/Bills or T/Bonds <input type="radio" name="answer3" id="">
Unit Trusts<input type="radio" name="answer3" id="">
a. More than 3 investments categories <input type="radio" name="answer3" id="">
b. More than 1 - 3 investments categories<input type="radio" name="answer3" id="">
c. None of the above<input type="radio" name="answer3" id="">
d. Other (please state)<input type="radio" name="answer3" id="">

<p>4. What type of savings or investments do you currently hold? (Please tick where applicable)</p>

Fixed Deposits <input type="radio" name="answer4" id="">
Land/House Shares <input type="radio" name="answer4" id="">
T/Bills or T/Bonds <input type="radio" name="answer4" id="">
Unit Trusts <input type="radio" name="answer4" id="">
a. More than 3 of the above <input type="radio" name="answer4" id="">
b. More than 1 - 3 of the above <input type="radio" name="answer4" id="">
c. Other e.g. Business, Bank savings <input type="radio" name="answer4" id="">
d. Other (please state) <input type="radio" name="answer1" id="">

<p>5. What do you expect of your income in the next one to three years?</p>

a. Increase <input type="radio" name="answer5" id="">
b. Stay about the same <input type="radio" name="answer5" id="">
c. Decline / stop <input type="radio" name="answer5" id="">

<p>6. Approximately what percentage of your total assets (excluding your house) will this investment
    represent?</p>

a. Less than 10% <input type="radio" name="answer6" id="">
b. 10% to 25% <input type="radio" name="answer6" id="">
c. 26% to 50% <input type="radio" name="answer6" id="">
d. 51% and above <input type="radio" name="answer6" id="">

<p>7. Would you say you have?</p>

a. A sound and good understanding of investments and financial markets <input type="radio" name="answer6" id="">
b. A basic understanding of investments and financial markets <input type="radio" name="answer6" id="">
c. Very little knowledge of investments but have an interest <input type="radio" name="answer6" id="">
d. No interest or knowledge of any investments <input type="radio" name="answer6" id="">

<p>8. If your investment fell by 20% over the course of three months, how would you react?</p>

a. Buy more of the same as it must be a cheap time to buy <input type="radio" name="answer7" id="">
b. Concerned, but remain invested to see if it improves in the near future before taking any action <input type="radio" name="answer7" id="">
c. Disappointed and cut my losses and transfer immediately to a more stable investment <input type="radio" name="answer7" id="">

<p>9. What attracts you to an investment?</p>

a. Its good return, regardless of the risk <input type="radio" name="answer8" id="">
b. A combination of security and income <input type="radio" name="answer8" id="">
c. Purely security <input type="radio" name="answer8" id="">

<p>10. Do you have other source savings you can access immediately?</p>

a. Yes I have an adequate fund to last me more than 1 year <input type="radio" name="answer9" id="">
b. Yes, but less than 6 months worth <input type="radio" name="answer9" id="">
c. No <input type="radio" name="answer9" id="">

<p>11. When do you expect to need most of your money from this investment?</p>

a. Above 3 years <input type="radio" name="answer10" id="">
b. 1 to 2 years <input type="radio" name="answer10" id="">
c. Less than one year <input type="radio" name="answer10" id="">


<button type="submit">Submit</button>

</form>