<div class="main-content">
    <div class="auth-form">
            <h4>Risk apetite assesment</h4>

            <form ng-submit="submitRiskForm()" class="riskForm">
                
                <p>1. What is your current age bracket?</p><br>
                <div class="form-group">
                    <input type="radio" id="option--one"  ng-model="answer1" name="answer1" checked="checked" id="" value="4">
                    <label for="option--one">a. 18 - 30 years</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="option--two" ng-model="answer1" name="answer1" id="" value="4">
                    <label for="option--two">b. 31 - 45 years</label>
                    
                </div>
                <div class="form-group">
                    <input type="radio" id="option--three" ng-model="answer1" name="answer1" id="" value="4">
                    <label for="option--three">c. Over 45 years</label>
                </div>
                    
                <p>2. How long do you want to invest?</p>
                <div class="form-group">
                    <input type="radio" id="answer2" id="" value="3">
                    <label for="answer2">a. Above 3 years</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer2" id="" value="3">
                    <label for="answer2">b. 1-3 years</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer2" id="" value="3">
                    <label for="answer2">c. 0 -1 years</label>
                </div>
                <p>3. Have you ever invested in any of the investments below? (Please tick where applicable)</p>
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">Fixed Deposits</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">Land/House Shares</label>
                </div>     
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">T/Bills or T/Bonds</label>
                </div>     
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">Unit Trusts</label>
                </div>     
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">a. More than 3 investments categories</label>
                </div>    
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">b. More than 1 - 3 investments categories</label>
                </div>     
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">c. None of the above</label>
                </div>    
                <div class="form-group">
                    <input type="radio" id="answer3" id="">
                    <label for="answer3">d. Other (please state)</label>
                </div>    
                    
                <p>4. What type of savings or investments do you currently hold? (Please tick where applicable)</p>
                <div class="form-group">
                    <input type="radio" id="answer4" id="">
                    <label for="answer4">Fixed Deposits</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer4" id="">
                    <label for="answer4">Land/House Shares</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer4" id="">
                    <label for="answer4">T/Bills or T/Bonds</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer4" id="">
                    <label for="answer4">Unit Trusts</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer4" id="">
                    <label for="answer4">a. More than 3 of the above</label>
                </div> 
                <div class="form-group">
                    <input type="radio" id="answer4" id="">
                    <label for="answer4">b. More than 1 - 3 of the above</label>
                </div> 
                    <div class="form-group">
                        <input type="radio" id="answer4" id="">
                        <label for="answer4">c. Other e.g. Business, Bank savings</label>
                    </div>
                <div class="form-group">
                    <input type="radio" id="answer1" id="">
                    <label for="answer4">d. Other (please state)</label>
                </div>
                     
            
                <p>5. What do you expect of your income in the next one to three years?</p>
                <div class="form-group">
                    <input type="radio" id="answer5" id="">
                    <label for="answer5">a. Increase</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer5" id="">
                    <label for="answer5">b. Stay about the same</label>
                </div> 
                <div class="form-group">
                    <input type="radio" id="answer5" id="">
                    <label for="answer5">c. Decline / stop</label>
                </div> 
                     
            
                <p>6. Approximately what percentage of your total assets (excluding your house) will this investment
                    represent?</p>
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">a. Less than 10%</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">b. 10% to 25%</label>
                </div> 
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">c. 26% to 50%</label>
                </div> 
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">d. 51% and above</label>
                </div> 
            
                <p>7. Would you say you have?</p>
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">a. A sound and good understanding of investments and financial markets</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">b. A basic understanding of investments and financial markets</label>
                </div> 
                <div class="form-group">
                    <input type="radio" id="answer6" id="">
                    <label for="answer6">c. Very little knowledge of investments but have an interest</label>
                </div>
                    <div class="form-group">
                        <input type="radio" id="answer6" id="">
                        <label for="answer6">d. No interest or knowledge of any investments</label>
                    </div>
                     
            
                <p>8. If your investment fell by 20% over the course of three months, how would you react?</p>
                <div class="form-group">
                    <input type="radio" id="answer7" id="">
                    <label for="answer7">a. Buy more of the same as it must be a cheap time to buy</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer7" id="">
                    <label for="answer7">b. Concerned, but remain invested to see if it improves in the near future before taking any action</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer7" id="">
                    <label for="answer7">c. Disappointed and cut my losses and transfer immediately to a more stable investment</label>
                </div>
            
                <p>9. What attracts you to an investment?</p>
                <div class="form-group">
                    <input type="radio" id="answer8" id="">
                    <label for="answer7">a. Its good return, regardless of the risk</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer8" id="">
                    <label for="answer7">b. A combination of security and income</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer8" id="">
                    <label for="answer7">c. Purely security</label>
                </div> 
                     
            
                <p>10. Do you have other source savings you can access immediately?</p>
                <div class="form-group">
                    <input type="radio" id="answer9" id="">
                    <label for="answer8">a. Yes I have an adequate fund to last me more than 1 year</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer9" id="">
                    <label for="answer8">b. Yes, but less than 6 months worth</label>
                </div> 
                <div class="form-group">
                    <input type="radio" id="answer9" id="">
                    <label for="answer8">c. No</label>
                </div>
                     
            
                <p>11. When do you expect to need most of your money from this investment?</p>
                <div class="form-group">
                    <input type="radio" id="answer10" id="">
                    <label for="answer9">a. Above 3 years</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer10" id="">
                    <label for="answer9">b. 1 to 2 years</label>
                </div>
                <div class="form-group">
                    <input type="radio" id="answer10" id="">
                    <label for="answer9">c. Less than one year</label>
                </div>
                    
            
                <button type="submit">Submit</button>
            
            </form>
    </div>
</div>