<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div class="sidebar-title">
                <li><a href="#"><span style="font-weight: bold"></span></a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/contribution">Contribution</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolioview">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> {{user.firstName}}</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar">
            
        </div>
        
        <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a message <span><i class="fas fa-plus"></i></span></h4>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Create a Poll for the chama</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" ng-submit="createPoll()">
                                    <div class="form-group">
                                            <label for="pollQuestion">Question</label>
                                            <input type="text" ng-model="poll.question" class="form-control"
                                           id="pollQuestion" placeholder="Enter poll question">
                                    </div>
                                    <div class="form-group">
                                            <label>Choices</label>
                                            <div ng-repeat="choice in poll.choices">
                                            <input type="text" ng-model="choice.text" class="form-control"
                                           placeholder="Enter choice {{$index+1}} "><br>
                                            </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Create Poll</button>
                                    <button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add another</button>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">View all polls and status</h3>
                            </div>
                            <div class="panel-body">
                                    <div class="list-group" ng-repeat="vote in votes">
                                        <a href="#/viewvote/{{vote.id}}" class="list-group-item" id="{{vote.id}}">
                                            <h4 class="list-group-item-heading">{{vote.question}}</h4>
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>