<div class="main-section">           
    <div class="sidebar">
        <ul class="sidebar-menu">
            <div>
                <li><a href="#"><span style="font-weight: bold">Votes</span></a></li>
                <li><a href="#"></a></li>
                <li><a href="">-------</a></li>
            </div>
            <!-- display if user is in a group  -->
            <li><a href="#/deposits">Deposits</a></li>
            <li><a href="#/withdrawals">Withdrawals</a></li>
            <li><a href="#/loans">Loans</a></li>
            <li><a href="#/members">Members</a></li>
            <li><a href="#/fines">Fines</a></li>
            <li><a href="#/votes">Votes</a></li>
            <li><a href="#/portfolio">Portfolio</a></li>
            <li><a href="#/reports">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> John Doe</p>
        </div>
    </div>
    <div class="inner-section">
        <div class="top-bar">
            
        </div>
        
        <div class="main-content">
            <div class="data-section">
                <!-- notification -->
                <div class="message-card">
                    <h4> This is a message <span><i class="fas fa-plus"></i></span></h4>
                </div>

                <div class="row">
                    <div class="row-column">
                        <h4>Create a Poll for chamaa</h4>
                    </div>
                    <div class="row-column">
                        <h4>view all polls and status </h4>
                    </div>
                    
                </div>
                
                <!-- polls -->

            </div>
        </div>
    </div>
</div>