<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>My Chama</title>
    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel='stylesheet' href='stylesheets/reset.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <!-- scripts -->
    <!-- meta -->
  </head>
  <style>
    
  </style>
  <body>
     
    <div class="wrapper">
        <div class="top-navbar">
            <div class="logo">
                <a href="#">Logo</a>
            </div>
            <div class="menu">
                <ul class="top-bar--nav">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
        <ng-view></ng-view>
        
        
    </div>      
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
    <script type="text/javascript" src="javascripts/services/socket.js"></script>
    <script type="text/javascript" src="javascripts/services/services.js"></script>
    <script type="text/javascript" src="javascripts/filters/filters.js"></script>
    <script type="text/javascript" src="javascripts/controllers/controllers.js"></script>
    <script type="text/javascript" src="javascripts/directives/directives.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>