<div class="sidebar">
        <a href="#" class="sidebar-logo">MyChama</a>
        
        <ul class="sidebar-menu">
            <div>
                <li><a href="#"><span style="font-weight: bold">Dashboard</span></a></li>
                <li><a href="#">No groups</a></li>
                <li><a href="group.html">Group Name</a></li>

            </div>
            <!-- display if user is in a group  -->
            <li><a href="deposits.html">Deposits</a></li>
            <li><a href="withdrawals.html">Withdrawals</a></li>
            <li><a href="loans.html">Loans</a></li>
            <li><a href="members.html">Members</a></li>
            <li><a href="fines.html">Fines</a></li>
            <li><a href="#">Votes</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Reports</a></li>
        </ul>

        <div class="sidebar-user">
            <p><i class="far fa-user-circle"></i> John Doe</p>
        </div>
    </div>